body{
    
    padding: 30px;
}

header{
    height: 30px;
    margin-bottom: 30px;
    
    }
    #link-container{
        float: right;
    }
    
    .link-header a{
        text-decoration: none;
        font-weight: bold;
        color: #3C3C3C ;
    }
    
    .link-header{
        float:left;
        padding-right: 5px;
        margin-right: 50px;
        margin-top: 2%;
    }
    #web-name{
        float: left;
        color:orange;
    }
    #form-container{
        padding: 20px 200px ;
        display: flex;
        margin-top: 150px;
    }
    #search{
        background-color:coral;
        color: white;
    }
    #error{
        text-align: center;
        color: salmon;
        margin-top: 40px;
    }
    #search-results{
        padding: 100px;
        display: grid;
        grid-template-columns: repeat(6,4fr);
        grid-gap: 3%;
    }
    .mealDiv a{
        display: block;
       padding-bottom: 20px;
       text-decoration: none;
       color: black;
       font-size: x-large;
       font-weight:600

    }
    .mealDiv{
       text-align: center;
       background-color:#F8F7F5;
    }
    .mealDiv img{
        display: block;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #details{
        margin-top: 40px;
        display: block;
        margin-left: 40%;  
    }
    #details img{
        display: block;
        width: 30%;
    }
    #details h2{
        padding: 20px 0px;
        font-weight: bold;
    }